body{
	margin:0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	background: #404040;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

//#ff8800 naranja troca
//#f06f31  naranja oscuro

//#385f74  azul
//#607d8a  azul mas claro
//#404040 negro

//#808184   gris


//font-family: 'Chewy', cursive;
//font-family: 'Open Sans', sans-serif;


// GENERAL

.click-container{
	max-width: 1400px;
	margin:0 auto;
	width: 100%;
	background: #404040;
	display: block;
}
.click-message{
	width: 100%;
	color: #fff;
	text-align: center;
	height: 80px;
	display: table;
	background: #ff8800;
	vertical-align: middle;
	padding: 5px 40px;
}
.click-message span{
	vertical-align: middle;
	display: table-cell;
}
.click-sell, .click-buy{
 	text-align: center;
 	width: 50%;
	display: block;
	float: left;	
}

.click-buy{
	border-right: 1px solid #fff;
}

.click-title{
	width: 100%;
	padding: 15px;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 35px;
	border-bottom: 1px solid #ff8800;
	font-family: 'Chewy', cursive;
}

.click-display, .click-store{
	width: calc(50% - 4px);
	display: inline-block;
	min-height: calc(100vh - 156px);
	vertical-align: top;
	
}

/*DISPLAY*/
.click-display{
	border-right: 1px solid #ff8800;
	background: #808184;
	padding-top: 10px;
}
.click-stock{
	width: 100%;
	padding: 10px 10px 10px 25px;
	color: #fff;
	font-size: 22px;
	text-align: left;
	vertical-align: middle;
	font-family: 'Chewy', cursive;	white-space: nowrap;
}
.click-stock span{
	vertical-align: middle;	
}
.click-money{
	width: 100%;
	padding: 10px 25px 10px 10px;
	color: #fff;
	font-size: 22px;
	text-align: right;
	font-family: 'Chewy', cursive;	
}

.click-phone{
	padding: 20px;
}

/*STORE*/
.click-store{

}

.click-store-title{
	display: block;
	width: 100%;
	font-size: 25px;
	line-height: 25px;
	padding: 10px;
	color: #fff;
	font-family: 'Chewy', cursive;	
}

.click-upgrades-container{
	width: 100%;
	padding: 0 10px;
	display: block;
}

.click-upgrade{
	width: 50px;
	height: 50px;
	display: block;
	float: left;
	background: #ff8800;
	margin: 5px;
}