
.row-robot{
    margin: 8px 15px;
    display: block;
	background: #fff;
	position: relative;
}

.click-robot-container{
	background: white;
    display: flex;
}

.click-robot-container::after{
	display: block;
	content: 'Comprar';
    font-size: 8px;
    border-radius: 4px;
    display: inline-block;
    padding:10px;
	box-shadow: 2px 2px 0 0 #d1e8fc;
	border: solid 2px #3684c6;
    margin:5px;
	cursor: pointer;
	color: #3684c6;
}
.click-robot-container:hover{

    

    &::after {
        background: black;
        color: white;
    }
}



.click-robot{
	cursor: pointer;
	position: relative;
	padding: 0;
	display: inline-block;
}

.click-robot:hover .click-robot-tooltip{
	display: block;
}

.click-robot-img{
	display: none;
	vertical-align: middle;
	padding: 0;
}
.click-robot-img img{
    width: 56px;
    height: 59px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}


.click-robot-text{
	display: inline-block;
	padding: 0;
	width: 190px;
	color: #ff8800;
	line-height: 17px;
}

.click-robot-name{
	font-size: 10px;
	
}
.click-robot-value{
	display: block;
	font-size: 10px;
	
}
.click-robot-bought{
	display: none;
	font-size: 10px;
	color: #385f74;
}

.click-robot-tooltip{
	position: absolute;
	display: none;
	z-index: 3;
	background: #385f74;
	min-height: 120px;
	padding:10px;
	width: 400px;
	left: -400px;
	top: -100%;

}
.click-robot-tooltip:before{
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7.5px 0 7.5px 10px;
	border-color: transparent transparent transparent #385f74;
	position: absolute;
	top: calc(45% - 7px);
	right: -10px;
}
.click-robot-tooltip-img{
	display: inline-block;
	width: 120px;
	margin-right: 10px;
}
.click-robot-tooltip-text{
	display: inline-block;
	width: calc(100% - 160px);
	color: #fff;
	font-size: 14px;
	vertical-align: top;
}
.click-robot-tooltip-title, .click-robot-tooltip-value, .click-robot-tooltip-description, .click-robot-tooltip-info{
	display: block;
	vertical-align: top;
}

.click-robot-tooltip-title{
	font-size: 14px;
}

.click-robot-tooltip-value{
	font-size: 12px;
	color: #ff8800;

}
.click-robot-tooltip-description{
	font-size: 10px;
		margin-bottom: 20px;
}
.click-robot-tooltip-info{
	font-size: 10px;

}
.click-robot-tooltip-info span{
	color: #ff8800;
}


///////////
.click-phone{
    a{
        width:80px;
        height:80px;
        display: inline-block;
       
        .circle{
            border-radius: 50%;
            background: #ee953d;
            border: solid 10px #fed953;
            display: flex;
            height:80px;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            color:#fed953;
            -webkit-box-shadow: 10px 11px 0px -2px rgba(202,116,28,1);
-moz-box-shadow: 10px 11px 0px -2px rgba(202,116,28,1);
box-shadow: 10px 11px 0px -2px rgba(202,116,28,1);
        }

    }
    .click-counter{
        .numbers{
            font-size: 21px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
        }
        .legend{
            font-size: 18px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: norma
        }
    }
}

