$borderWidth: 8px;
$borderColor: #fff;

.click-container{
    height: $contentHeight;
    .click-row{
        width: 100%;
        height: calc(100% / 3); 
        flex-direction: row;
        display: flex;
        border-bottom: solid $borderColor $borderWidth;

        &:first-child{
            border-top: solid $borderColor $borderWidth;
        }
        &.buy {
            background: url('../images/background-buy.svg') center center;
            background-size: cover;
        }
        &.repair {
            background: url('../images/background-repair.svg') center center;
            background-size: cover;
        }
        &.sell {
            background: url('../images/background-repair.svg') center center;
            background-size: cover;
        }
    }

    .left-col, .center-col, .right-col {
        vertical-align: top;
    }

    .left-col {
        width: $contentColLeftWidth;
        border-right: solid $borderColor $borderWidth;
    }

    .center-col {
        width: $contentColCentertWidth;
        position: relative;
    }

    .right-col {
        width: $contentColRightWidth;
        border-left: solid $borderColor $borderWidth;
    }

}
