.click-container{
    height: $contentHeight;
    .click-row{
        width: 100%;
        height: calc(100% / 3); 
        
        flex-direction: row;
        background: rgba(234,0,0,0.6);
        display: flex;
    }

    .left-col, .center-col, .right-col {
       
        vertical-align: top;
    }

    .left-col {
        width: $contentColLeftWidth;
        background: rgba(0,0,189,0.7);
    }

    .center-col {
        width: $contentColCentertWidth;
        background: rgba(233, 200, 14, 0.7);
    }

    .right-col {
        width: $contentColRightWidth;

    }

   

}
