header {
	height: $headerHeight;
	background: black;
		
	h1 {
		color: white;
		font-weight: normal;
		line-height: 70px;
		padding-top:8px;
		text-align: center;
		padding: 10px;
	}

	.countdown{
		color: white;
		padding: 10px;
	}

	justify-content: space-between;
	display: flex;
}



.logo{
	
	text-align: center;
	margin: 0;
}

