body{
	margin:0;
	padding: 0;
	font-family: 'Chewy', cursive;
	background: #404040;
	background: url('../images/footer_lodyas.png');
}
html, body{
  height:100%;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	display: table;
  	content: " ";
}

/*
#ff8800 naranja troca
#f06f31  naranja oscuro

#385f74  azul
#607d8a  azul mas claro
#404040 negro

#808184   gris


font-family: 'Chewy', cursive;
font-family: 'Open Sans', sans-serif;
*/

/*GENERAL*/

.click-container{
	max-width: 1400px;
	margin:0 auto;
	width: 100%;

	background-repeat: repeat;
	display: block;
	min-height: calc(100vh -40px);
	text-align: center;
}
.click-message{
	width: 100%;
	color: #fff;
	text-align: center;
	height: 80px;
	display: inline-block;
	background: #ff8800;
	vertical-align: middle;
	padding: 15px 40px;
	font-size: 18px;
	font-family: 'Chewy', cursive;
	position: absolute;
	left: 0;
	bottom: 0;
}
.store-container {
	position: relative;
}
.click-message-news{
	max-width: calc(100% - 130px);
}

.click-message-icon{
	width: 46px;
	height: 46px; 
	margin-right: 10px;
}

.click-message-icon.right{
		margin-right: 0px;
		margin-left: 10px;
}
.click-message span{
	vertical-align: middle;
	display: inline-block;
}
.click-sell, .click-buy{
 	text-align: center;
 	width: 100%;
min-height: calc(100vh - 200px);
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}

.click-buy{
	border-right: 1px solid #fff;
}

.click-title{
	width: 100%;
	width: 100%;
	padding: 8px;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 35px;
	border-bottom: 1px solid #ff8800;
	font-family: 'Chewy', cursive;
}

.click-display, .click-store{
	width: 33%;
	display: inline-block;

	vertical-align: top;
	
}

/*DISPLAY*/
.click-display{
	background: #808184;
	background: url('../images/white_carbonfiber.png');
}
	padding-top: 10px;
}
.click-stock{
	width: 100%;
	padding: 10px 10px 10px 25px;
	color: #fff;
	font-size: 32px;

}
.click-stock span{
	vertical-align: middle;	
}
.click-money{
	width: 100%;
	padding: 10px 25px 10px 10px;
	color: #fff;
	font-size: 32px;

}
.click-production{
	width: 100%;
	padding: 10px 25px 10px 10px;
	color: #fff;
	display: block;
	vertical-align: middle;
	font-size: 22px;
}
.click-production span{
	font-size: 18px;
	vertical-align: middle; 
	margin-right: 10px;
}
.click-phone{
	padding: 20px;
}
.click-phone a:active{

transform: scale(1.05);
}

.click-phone a{
	cursor: pointer;
    display: block;
    border-radius: 30px;
    padding: 20px;
    width: 120px;
    margin: auto;
    margin-top: 20px;
    background-image: linear-gradient(to bottom right,orange,#ffcd70);
    box-shadow: grey 2px 1px;
}
.click-phone a img{
	width: 75px;
}
/*STORE*/
.click-store{
padding-bottom: 70px;
}

.click-store-title{
	display: block;
	width: 100%;
	font-size: 32px;
	padding: 10px;
	color: #fff;
	font-family: 'Chewy', cursive;	
}

.click-upgrades-container, .click-robots-container{
	width: 100%;
	display: inline;
	text-align: left;
	margin-bottom: 5px;
}

.click-upgrade{
	padding: 12px;
	background: #fff;
	width: 59px;
	height: 59px;
	display: inline-block;
	cursor: pointer;
	position: relative;
    border-radius: 5px;
}

.click-upgrade img{
	width: 35px;
	height: 35px;
}
.click-upgrade:hover .click-upgrade-tooltip{
	display: block;
}
.click-upgrade-tooltip{
	position: absolute;
	display: none;
	z-index: 3;
	background: #385f74;
	min-height: 100px;
	padding:10px;
	width: 300px;
	left: -305px;
	top: -50%;
}
.click-upgrade-tooltip:before{
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7.5px 0 7.5px 10px;
	border-color: transparent transparent transparent #385f74;
	position: absolute;
	top: calc(45% - 7px);
	right: -10px;
}
.click-upgrade-tooltip-title{
	display: block;
	font-size: 18px;
	color: #fff;
}

.click-upgrade-tooltip-value{
	color: #ff8800;
	display: block;
	font-size: 18px;

}
.click-upgrade-tooltip-funtion span{
	color: #ff8800;
}
.click-upgrade-tooltip-funtion{
	display: block;
	font-size: 18px;
	color: #fff;
}
.upgrade-robot-container{
	display: inline-block;
	padding: 0;
	width: 24%;
	vertical-align: top;
}
.click-robot-container{
	background: white;
	width: 74%;
    border-radius: 5px;
}
.click-robot{
	cursor: pointer;
	position: relative;
	padding: 0;
	display: inline-block;
}
.row-robot{
	margin-top: 5px;
}

.click-robot:hover .click-robot-tooltip{
	display: block;
}

.click-robot-img{
	display: inline-block;
	vertical-align: middle;
	padding: 0;
}
.click-robot-img img{
    width: 56px;
    height: 59px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.click-robot-text{
	display: inline-block;
	vertical-align: middle;
	padding: 0;
    padding-left: 5px;
	width: 80px;
	color: #ff8800;
}

.click-robot-name{
	font-size: 14px;
	font-family: 'Chewy', cursive;
}
.click-robot-value{
	display: block;
	font-size: 12px;
	font-family: 'Chewy', cursive;
}
.click-robot-bought{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	font-size: 22px;
	width: 40px;
    border-left: 1px solid lightgray;
	font-family: 'Chewy', cursive;
	color: #ff8800;
}

.click-robot-tooltip{
	position: absolute;
	display: none;
	z-index: 3;
	background: #385f74;
	min-height: 120px;
	padding:10px;
	width: 500px;
	left: -505px;
	top: -100%;

}
.click-robot-tooltip:before{
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7.5px 0 7.5px 10px;
	border-color: transparent transparent transparent #385f74;
	position: absolute;
	top: calc(45% - 7px);
	right: -10px;
}
.click-robot-tooltip-img{
	display: inline-block;
	width: 120px;
	margin-right: 10px;
}
.click-robot-tooltip-text{
	display: inline-block;
	width: calc(100% - 140px);
	color: #fff;
	font-size: 18px;
	vertical-align: top;
}
.click-robot-tooltip-title, .click-robot-tooltip-value, .click-robot-tooltip-description, .click-robot-tooltip-info{
	display: block;
	vertical-align: top;
}

.click-robot-tooltip-title{
	font-size: 22px;
}

.click-robot-tooltip-value{
	font-size: 20px;
	color: #ff8800;

}
.click-robot-tooltip-description{
	font-size: 14px;
		margin-bottom: 20px;
}
.click-robot-tooltip-info{
	font-size: 16px;

}
.click-robot-tooltip-info span{
	color: #ff8800;
}
.footer{
	padding:10px;
	background: #fff;
	font-size: 16px;
	width: 100%;
	text-align: center;
	color: #607d8a;
	max-width: 1400px;
	margin:0 auto;
	width: 100%;
	display: block;
}

.click-popup{
	position: absolute;
	width: 300px;
	min-height: 200px;
	text-align: center;
	padding:18px 15px 35px 15px;
	background: #f23b3b;
	top: 50%;
	left: 37%;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
	z-index: 444;
	animation: biting .3s ease-in-out infinite alternate;
    -webkit-animation: biting .3s ease-in-out infinite alternate;
    vertical-align: middle;
}


@keyframes biting {
     0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.05);
    }
}

.click-popup > span{
	display: block;
	vertical-align: middle;
	width: 100%;
}
.click-popup .click-info > span.click-succes, .click-popup .click-info > span.click-error{
	display: none ;
}

.click-img{
	width: 120px;
	display: inline-block;
	margin-right: 10px;
	vertical-align: top;
}
.click-info{
	display: inline-block;
	width: calc(100% - 140px);
	vertical-align: top;
}
.click-segundos{
	display: table-cell;
	width: 100%;
	position: absolute;
	bottom: 10px;
	left: 0;
}
.footer span{
	color: #ff8800;
}
.inline-block {
	display: inline-block;
}
.no-padding{
	padding: 0;
}

.stats-display .flow-number  {
	font-size: 26px;
	color: #ff8800;
}

.stats-display .small-notice  {
	 font-size: 14px;
	 margin-top: 10px;
 }

.stats-display .flow-image-container img  {
	height: 100px;
}

.stats-display .inline-dinamic-number {
	color: #ff8800;
}

.stats-display .stats-section {
	margin-top: 15px;
}

.stats-display .balance-number {
	font-size: 18px;
}

.stats-display .big-number {
	font-size: 25px;
	color: #ff8800;
}

.stats-display .negative-number {
	color: #d04242;
}

.stats-display .positive-number {
	color: #29743d;
}

[data-notify="progressbar"] {
	margin-bottom: 0px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 5px;
}