.stats-display{
    height: $statsHeight;
    display: flex;
    flex-direction: row;
    text-align: center;

    .stats-section{
        width: 50%;
        height: 100%;
        vertical-align: middle;
        font-size: 13px;
        text-transform: uppercase;     
       display: flex;
       align-items: center;
       text-align: center;
    }
    
    .st-bal{
        background:#ffd000;
        font-size: 24px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;        
    }
    
    .js-money, .js-salaries-amount{
        font-size: 26px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 2.8;
        background: #202020;
        color:white;
        padding:2px 5px;
    }
    .st-costos{
        background:#f76453;
        color: #ffffff; 
        font-family: Courier;
        font-size: 24px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        vertical-align: middle;
    }

    .money {
display: inline-block;
vertical-align: middle;
    }
    .aclaration{
        font-size: 14px;
    }
    .money-container{
       width:100%;
       text-align: center;
       vertical-align: middle;

       > label, > img, > span{
            vertical-align: middle;
       }
       label {
        vertical-align: middle;
       }
       img {
        vertical-align: middle;
       }
       span {
        vertical-align: middle;
       }
    }
}