.stats-display{
    height: $statsHeight;
    display: flex;
    flex-direction: row;
    text-align: center;

    .stats-section{
        width: 50%;
        height: 100%;
        vertical-align: middle;
        font-size: 13px;
        text-transform: uppercase;
    }
    
    .st-bal{
        background:#fefca9;
    }
    
    .st-costos{
        background:#a9d1e9;
    }

    .money-container{
        padding-top: 5px;
        padding-bottom: 5;
     
        
    }
    
    .main-balance {
        font-size: 25px;
        color: #ff8800;
        font-weight: bold;
    }
    
}