$colorPrimaryMiddle: #ff8800;
$colorPrimaryDark: #f06f31;
$colorSecondaryMiddle: #385f74;
$colorSecondaryLight: #607d8a;

$colorDark: #404040 ;
$colorGray-2: #808184;


$headerHeight: 60px;
$statsHeight: 90px;
$contentHeight: calc(100vh - (#{$headerHeight} + #{$statsHeight}) );

